# Python Byte-code and Caches
__pycache__/
*.py[co]
*.so
.python-version

# Virtual Environments
venv/
.venv/
env/
.env/

# Build and Distribution Artifacts
build/
dist/
eggs/
*.egg-info/
*.egg

# Test and Coverage Reports
.pytest_cache/
.coverage
htmlcov/
coverage_html_report/

# Editor and OS specific files
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files created during development
*.bak
*.tmp
*.swp
*~.nib